form{
  padding: 1rem 4rem;
}

input{
  outline: none;
  padding: .6rem .3rem;
  border-radius: 0;
  border: 1px solid grey;
}

form > div{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 6rem;
  padding-right: 26rem;
  padding-bottom: 1rem;
}

form > p{
  padding: 1.5rem 0rem;
}

form > label{
  font-size: xx-large;
}

input::placeholder{
  font-style: italic;
  text-align: start;
}

.message{
  width: 85%;
  height: 5rem;
}

button{
  cursor: pointer;
  margin-top: 2px;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  color: white;
  background-color: #9a739a;
}

footer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 4rem;
  gap: 2px;
}

footer>section{
  background-image: url("https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
  padding: 1.5rem 6rem;
  display: flex;
}

footer > section >div> input{
  width: 110%;
  margin: .5rem 0rem;
}

.section1{
  place-content: center;
}

footer p{
  margin: .8rem 0rem;
  font-weight: 500;
  color: #1a1a1a;
}

footer h5{
  margin: .8rem 0rem;
  font-size: large;
  color: #2b2b2b;
}


footer button{
  margin: .8rem 0rem;
}
