@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.d-none {
  display: none;
}

.pointer{
  cursor: pointer;
}


@keyframes back{
  0%{background-position: right;}
  50%{background-position: left;}
  100%{background-position: right;}
}

.icons{
  display: flex;
  gap: .5rem;
}

.top-bar{
  display: grid;
  grid-template-columns: 90% 10%;
  background-color: #C8A2C8;
  padding:1rem 2rem;
  color: white;
  font-size: larger;
}


nav{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  color: #3B3B3B;
  padding: 2rem 4rem;
}

.logo{
  color: #800080;
  font-family: Karma;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.nav{
  align-items: center;
  display: flex;
  gap: 2rem;
  place-content: center;

}

.nav > button{
  border: none;
  background-color: #CCCCFF;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
}

.nav-item{
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
}

.active{
  color: black;
  border-bottom: 1px solid black;
  padding: .5rem;
}
.nav-item:hover{
  color: #C8A2C8;
}

.active:hover{
  color: black;
}

a{
  text-decoration:none;
  color: inherit;
}

.contacts{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 4rem;
}

label{
  color: #9a739a;
  font-size: larger;
  font-weight: 700;
}

.contact-items > span{
  display: flex;
  gap: .5rem;
  padding: .5rem 0rem;
}


.phone{
  padding:0rem 6.5rem;
}

.brown{
  color: #9a8885 ;
}

.phone-nav{
  display: none;
  transition: all .5s ease-in-out;
}

/* Phone Screens */
@media (max-width:760px) {
  .laptop-nav{
    display: none;
  }
  .phone-nav{
    display: block;
    padding: .5rem 0rem;
  }
  .phone-nav > div{
    display: grid;
    align-items: center;
    grid-template-columns: 85% 15%;
    padding: .5rem;
  }
  	
  .phone-nav > div> span{
    font-size: x-large;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }

  #menu:active {
    border: 4px solid grey;
  }

  .logo{
    color: #800080;
    font-family: Karma;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
  }

  nav{
    padding: 0;
  }

  .top-bar{
    font-size: small;
    padding: 1rem;
    display: block;
  }
  
  .icons{
    place-content: end;
    padding-top: .3rem;
  }

  .nav-item{
    cursor: pointer;
    font-size: medium;
    padding: .5rem;
    font-weight: 700;
  }
  .active{
    border-bottom: none;
  }
  nav > section >button{
    margin-left: .5rem;
  }

  nav button{
    cursor: pointer;
    margin-top: 2px;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: #9a739a;
  }

  .contacts{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 2rem;
  }

  .phone{
    padding: 1rem 0rem;
  }
  
}

.blur{
  filter:blur(3px) ;
}

.hidden{
  overflow: hidden;
  height: 100vh;
}
